<h2>Группы текущего проекта</h2>



<div class="splitcontentleft">
<table class="list groups">
<thead>
<th> Группы </th>
<th> Пользователи </th>
<th> </th>
</thead>

<tbody>
<% for k,v in @groups %>
<tr>

<td><%= link_to_group(k) %></td>
<td> <%= v.count %> </td>
<td class="button"> <%= link_to "Delete",{:controller=>"gmanagers", :action=>"destroy",:id=>k,:project_id=>params["project_id"]}, :method=>"delete", :confirm=>"Are you sure?",:class=>"icon icon-del"%></td>

</tr>
<% end %>
</tbody>
</table>

<br>
<%= link_to "Создать группу",new_gmanager_path(:project_id=>params["project_id"]), :class => "icon icon-add" %>
</div>
