<h2>GmanagersController#index</h2>

<h1> Hello!!</h1>


<table class="list groups">
<thead>
<th> Группа </th>
<th> Пользователи </th>
</thead>

<tbody>
<% for k,v in @groups %>
<tr>

<td><%= k %></td>
<td> <%= v %> </td>

</tr>
<% end %>
</tbody>
</table>