<h2>Добавление группы</h2>
<label> Название группы <%= form_tag gmanagers_path(:project_id=>@project), :method=>"post" do%></label>
<%= text_field_tag "groupname" %>

<%= submit_tag l(:button_save)%>
<% end %>